@model IEnumerable<ass_thieubvph20221.Models.giay>

@{
    ViewData["Title"] = "cuUpdate";
}

<h1>Lịch sử sửa chữa</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenGiay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chatLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donGiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donGiaban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ghiChu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenGiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donGiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donGiaban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ghiChu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
